<p class="text-center">
  <%= link_to "Add Product", new_seller_product_url, class: "btn btn-success" %>
</p>
<h3 class="text-center mt-2"><u>Your Products</u></h3>
<div class="products">
  <% @products.each do |product| %>
    <%= render 'product_item', product: product%>
  <%end%>
</div>
