<div class="profileLink">
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username.capitalize + " "%><%= image_tag user_image(current_user) , class: "img-rounded user-avatar-sm"%></a>
    <ul class="dropdown-menu">
      <li><a href=<%= user_path(current_user)%> >Profile <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
      <li class="divider"></li>
      <li ><p><%= link_to("Sign Out", destroy_user_session_path, method: :delete)%><span class="glyphicon glyphicon-log-out pull-right"></span></p></li>
    </ul>
  </div>
</div>