.commentsContainer{
  background: rgb(245, 245, 244);
  border-radius: 7px;
  padding: 4vw;
 }

.newCommentBody{
  border-radius: 5px;
  width: 70vw;
  height: 3vw;
}

.editCommentBody{
  border-radius: 5px;
  width: 50vw;
  height: 3vw;
}
input::placeholder {
  font-size: 0.7em;
}
.elapsedTime {
  font-size: 0.7em;
}
.commentImage {
  width:30px;
  height: 30px;
  border-radius:50px
}
.commentContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}