.products {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.productItem{
  border-radius: 5px;
  width: 20vw;
  font-size: 1em;
  margin-right: 5vw;
  margin-bottom: 5vw;
}
.productPrice {
  color: green;
}
.productActions {
  width: 20vw;
  text-align: center;
  padding: 5px;
}
.editProductImages {
  max-width:10vw
}
.productThumbnail {
  width:20vw;
}
.productImages {
  width:80vw;
}
