.products {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.productItem{
  border-radius: 5px;
  width: 20vw;
  font-size: 1em;
  margin-right: 5vw;
  margin-bottom: 5vw;
}
.productPrice {
  color: green;
}
.productActions {
  width: 20vw;
  text-align: center;
  padding: 5px;
}
.editProductImages {
  max-width:10vw
}
.product-thumbnail {
  width:15vw !important;
  height: 18vw;
}
.similar-product-thumbnail {
  width:10vw;
}
.similar-product-container {
  border: rgb(185, 180, 180);
  border-style: solid;
  width: 80%;
  border-width: 0.1vw;
}
.productImages {
  width:80vw;
}

.productImagesItem{
  width: 24vw;
}

.flexslider .slides > li {
  display: inline !important;
}