<h5 class = "text-center">Reviews</h5>
<%= render 'new_comment' %>
<div id="commentBox">
  <% comments.each do |comment|%>
    <%= render 'comments/comment_detail' , {product: product, comment:comment}%>
  <% end %>  
</div>
