<h1 class="text-primary text-center">Product Details</h1>
<div class="well">
  <h3><%= @product.title.capitalize%></h3>
  <h4>Price: <%= @product.price%>$</h4>
</div>
<div class="flexslider" >
  <ul class="slides productImages">
    <% @product.images.each do |image| %>
      <li><%= image_tag(image) %></li>
    <% end %>
  </ul>
</div>
<div class="commentsContainer">
  <%= render 'comments', {product: @product, comments: @comments}%>
</div>